# configuracion del servidor
PORT=5000
NODE_ENV=development

# base de datos
MONGODB_URI=mongodb://localhost:27017/acco

# JWT
JWT_SECRET=tu_secreto_jwt_super_seguro_aqui
JWT_EXPIRE=30d

# cliente
CLIENT_URL=http://localhost:5173